#logInModal.modal.fade{ 'aria-hidden' => 'true', 'aria-labelledby' => 'logInModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h5#logInModalLabel.modal-title Sign In
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
      .modal-body
        = form_tag(authentication_index_path) do
          .form-group
            %label{ for: 'user_email' } Email address
            = text_field :user, :email, class: 'form-control', placeholder: 'Enter email', 'aria-describedby' => 'emailHelp', type: 'email'
            %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
          .form-group
            %label{ for: 'user_password' } Password
            = text_field :user, :password, class: 'form-control', placeholder: 'Password', type: 'password'
          = submit_tag 'Submit', class: 'btn btn-primary'