.modal.fade{ id: "changePasswordModal", 'aria-hidden' => 'true', 'aria-labelledby' => 'changePasswordModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h5#changePasswordModalLabel.modal-title Change password
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
      .modal-body
        = form_for :password, url: user_change_password_path(@user.id) do |f|
          .form-group
            %label{ for: 'user_current_password' } Current password
            = f.password_field :current_password, class: 'form-control'
          .form-group
            %label{ for: 'user_new_password' } New password
            = f.password_field :new_password, class: 'form-control'
          = f.submit 'Submit', class: 'btn btn-primary'